<p id="notice"><%= notice %></p>
<body background="../assets/bg.png" id="bg" >
  
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
     <form class="form-inline pull-xs-right">
       <%= form_tag(articles_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Articles" %>
        <%= submit_tag "Search" %>
        <% end %>

      </form>
  </div>
  <br>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-3">Adrien's Blog</h1>
        <h2 class="lead">My first application of Ruby for the bootcamp</h2>
      </div>
    </div>
      <br>
    <div class="row">
      <div class="col-md-12">
       <%= link_to 'New Article', new_article_path,class: 'btn btn-primary' %>
	    </div>
        <br>
        <br>
    </div>
    <div class="row">
      <div id="presentation" class="col-md-12" >
        <div class="card">
          <img class="card-img-top" src="../assets/picture_profile.jpg" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">Adrien Gonzalez</h4>
            <p class="card-text">
              <p class="presentation-moi">
              I am a Web Developper with a year experience and had created several applications that you can check online.
              I am currently looking for new challenges to enhance my skills in coding and web development.
              You can find my resume in this link:
              <a href="https://adriengonzalez.herokuapp.com">https://adriengonzalez.herokuapp.com </a>

              For more info, please contact me directly at 
              <a href="gonzalez_ad@hotmail.fr">gonzalez_ad@hotmail.fr</a> 
              </p>
            </p>
          </div>        
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12" id="Posts">
        <% @articles.each do |article| %>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= article.title %></h4>
            <p>Tag: <%= article.tag_list %> </p>
            <p class="card-text"><%= @markdown.render(article.body).html_safe %>
            </p>

          </div>
          <div class="card-footer">
            <%= link_to 'Show/Add comment', article_path(article), class: 'btn btn-warning' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
            <%= link_to 'Delete',  article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %>
            <p>
              <b>views:</b>
              <%= article.view %>
            </p>
          </div>
          <% @commentshows.each do |show| %>
          <%if show.article_id == article.id %>
           <p class="card-text">
            <div class="well">
            Comment 
          </div>
          <br> <%= show.body %></p>
          <div class="card-footer">
            <%= link_to 'Edit', edit_comment_path(show), class: 'btn btn-warning' %>
            <%= link_to 'Delete', comment_path(show), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-warning' %>
          </div>
            <% end %> 
            <% end %>
        </div>
     <br>
   <% end %>
      <br>
    </div>
  </div>

<footer class="container-fluid text-center" >
  <p>Copyright@2016 by Adrien Gonzalez</p>
</footer>
       
        
 
