<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Adrien's Blog</h1>
    <p class="lead">My first application of Ruby for the bootcamp</p>
  </div>
</div>
<br>
  <div class="row">
    <div class="colum-sm-8">
       <%= link_to 'New Article', new_article_path,class: 'btn btn-primary' %>
	</div>
  <br>
</div>
    <div class="colum-sm-8">
      <ul>
        <% @articles.each do |article| %>
        <div class="card">
          <div class="card-block">
            <h4 class="card-title"><%= article.title %></h4>
            <p>Tag: <%= article.tag_list %> </p>
            <p class="card-text"><%= @markdown.render(article.body).html_safe %>
            </p>

          </div>
          <div class="card-footer">
            <%= link_to 'Show/Add comment', article_path(article), class: 'btn btn-warning' %>
            <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-warning' %>
            <%= link_to 'Delete',  article_path(article), method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-warning' %>
            <p>
              <b>views:</b>
              <%= article.view %>
            </p>
          </div>
        <% @commentshows.each do |show| %>
        <%if show.article_id == article.id %>
           <p class="card-text">
            <div class="well">
            Comment 
          </div>
          <br> <%= show.body %></p>
          <div class="card-footer">
            <%= link_to 'Edit', edit_comment_path(show), class: 'btn btn-warning' %>
            <%= link_to 'Delete', comment_path(show), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-warning' %>
          </div>
      <% end %> 

      <% end %>

        </div>
              <br>
      <br>
      <br>
      <% end %>
      </ul>
      <br>
    </div>
  </div>

<footer class="container-fluid text-center" >
  <p>Copyright@2016 by Adrien Gonzalez</p>
</footer>
       
        
 
