<div class="color_text">

<div align="center">
<div class="mydiv">


<p id="notice"><%= notice %></p>
<body background="../assets/bg.png" id="bg" >


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<%= form_for @comment do |f| %>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
<%=f.hidden_field :article_id, value: params[:id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <br>
  <div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
      <ul>
        <% @commentshows.each do |show| %>

        <%if show.article_id == @article.id %>

        <div class="card">
          <div class="card-block">
            <p class="card-text"><%= show.body %></p>
          </div>
          <div class="card-footer">
           
            <%= link_to 'Edit', edit_comment_path(show), class: 'btn btn-warning' %>
            <%= link_to 'Delete', comment_path(show), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-warning' %>
          </div>
        </div>
      <% end %> 

      <% end %>
      </ul>
      <br>
    </div>
</div>
 
<%= link_to 'Edit', edit_article_path %> |
<%= link_to 'Back', articles_path %>

 </div>
  </div>
   </div>